#grad1 {
  height: 500px;
  background-image: linear-gradient(to bottom left, #a4c639, #000038);
}
.kk{
  height: 200px;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
.patient-portal-info {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}
.patient-portal-info h2 {
  color: #333;
}
.patient-portal-info p {
  color: #555;
}
.patient-portal-info ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
}
.patient-portal-info ul li {
  margin-bottom: 5px;
}
.portal-buttons {
  margin-top: 20px;
}
.portal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.portal-buttons button:hover {
  background-color: #0056b3;
}
/*  */
.explore-buttons {
  margin-top: 20px;
}
.explore-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.explore-buttons button:hover {
  background-color: #218838;
}
/*  */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
/* Model popup start */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 5px 15px;
  background-color: #f44336;
  border-radius: 5px;
}
.loginbtn{
  background-color: green;
  border-radius: 5px;
  padding: 8px 14px;
  color:white;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modal1 {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.container {
  padding: 16px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.close {
  position: absolute;
  top: 5px;
  right: 35px;
  color:#000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* model popup end */
/* The Modal (background) */
.modalSignup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalSignup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.closeSignup {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeSignup:hover,.closeSignup:focus {
  text-decoration: none;
  cursor: pointer;
}

.modalSignup-header {
  padding: 2px 16px;
  background-color: #000038;
  color: white;
}

.modalSignup-body {padding: 2px 16px;}

.modalSignup-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}